<!doctype html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
</head>

<body>
    {% extends "base.html" %}

    {% block body %}
    <div>
        {% for row in data %}
            <div>
                <h1>{{row.rank}}: {{row.country}}</h1>
                <p>{{row.company}}</p>
                <p>{{row.percentage}}</p>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>